@import "../../../index.scss";

.property {
  display: inline-block;
  width: 250px;
  margin: 5px 10px;
  .img-wrapper {
    position: relative;
    .show {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(55, 55, 55, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      transition: linear 200ms;
    }
    &:hover {
      .show {
        transform: scale(1);
        span {
          background-color: $color-dark-blue;
          padding: 3px 7px;
          font-weight: 700;
          border-radius: 3px;
        }
      }
    }
  }
  img {
    width: 100%;
  }
  .content {
    background-color: $color-gold;
    margin-top: -25px;
    padding-top: 40px;
  }
  .name {
    width: 90%;
    position: relative;
    z-index: 5;
    color: $color-eggshell;
    background-color: $color-dark-blue;
    text-align: center;
    padding: 5px;
    margin: -15px auto 0 auto;
  }
  .data {
    display: flex;
    justify-content: space-between;
    text-align: center;
    p {
      padding: 8px;
      width: 50%;
      color: $color-dark-blue;
    }
  }
}
